aiohttp==3.7.1
async-timeout==3.0.1
asyncio==3.4.3
attrs==20.2.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
contextvars==2.4
Flask==1.1.2
Flask-API==2.0
h11==0.11.0
httpcore==0.12.0
httpx==0.16.1
idna==2.10
idna-ssl==1.1.0
immutables==0.14
itsdangerous==1.1.0
Jinja2==2.11.2
machaao==0.1.9
MarkupSafe==1.1.1
multidict==5.0.0
path==15.0.0
prompt-toolkit==3.0.8
PyJWT==1.7.1
requests==2.24.0
rfc3986==1.4.0
sniffio==1.2.0
soupsieve==2.0.1
typing-extensions==3.7.4.3
urllib3==1.25.11
wcwidth==0.2.5
websockets==8.1
Werkzeug==1.0.1
wit==6.0.0
yarl==1.6.2
